In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline

pd.set_option('display.max_rows', None)

In [2]:
df1 = pd.read_csv('ItemSelectionDetails_2023_08_01-2023_08_31.csv')
df2 = pd.read_csv('ItemModifierSelectionDetails_2023_08_01-2023_08_31.csv')

In [329]:
df1[df1['Menu Item'] == 'KIDS - MINI PUPUSAS (3)'].head(10)

,Location,Order #,Sent Date,Menu Item,Menu Group,Menu,Sales Category,Net Price,Qty,Void?
1402,PHARR,93,8/3/23 12:58 PM,KIDS - MINI PUPUSAS (3),LUNCH,KIDS MENU,Lunch Menu,6.99,1.0,False
1747,PHARR,44,8/4/23 10:56 AM,KIDS - MINI PUPUSAS (3),LUNCH,KIDS MENU,Lunch Menu,6.99,1.0,False
1755,PHARR,47,8/4/23 11:14 AM,KIDS - MINI PUPUSAS (3),LUNCH,KIDS MENU,Lunch Menu,6.99,1.0,False
2122,PHARR,9,8/5/23 9:19 AM,KIDS - MINI PUPUSAS (3),LUNCH,KIDS MENU,Lunch Menu,6.99,1.0,False
2704,PHARR,143,8/5/23 12:58 PM,KIDS - MINI PUPUSAS (3),LUNCH,KIDS MENU,Lunch Menu,6.11,1.0,False
5275,PHARR,25,8/11/23 9:47 AM,KIDS - MINI PUPUSAS (3),LUNCH,KIDS MENU,Lunch Menu,6.99,1.0,False
5803,PHARR,149,8/11/23 2:53 PM,KIDS - MINI PUPUSAS (3),LUNCH,KIDS MENU (3PD),Lunch Menu,6.34,1.0,False
6526,PHARR,166,8/12/23 1:48 PM,KIDS - MINI PUPUSAS (3),LUNCH,KIDS MENU,Lunch Menu,6.84,1.0,False
6645,PHARR,188,8/12/23 2:58 PM,KIDS - MINI PUPUSAS (3),LUNCH,KIDS MENU,Lunch Menu,13.98,2.0,False
8944,PHARR,50,8/17/23 11:13 AM,KIDS - MINI PUPUSAS (3),LUNCH,KIDS MENU (3PD),Lunch Menu,6.34,1.0,False

In [328]:
df2[df2['Parent Menu Selection'] == 'KIDS - MINI PUPUSAS (3)'].head(10)

,Location,Order #,Sent Date,Modifier,Option Group Name,Parent Menu Selection,Discount,Net Price,Qty,Void?,Void Reason
1296,PHARR,93,8/3/23 12:58 PM,APPLE JUICE (12oz),KIDS JUICE FLAVOR,KIDS - MINI PUPUSAS (3),0.0,0.00,1.0,False,NaN
1609,PHARR,44,8/4/23 10:56 AM,APPLE JUICE (12oz),KIDS JUICE FLAVOR,KIDS - MINI PUPUSAS (3),0.0,0.00,1.0,False,NaN
1614,PHARR,47,8/4/23 11:14 AM,APPLE JUICE (12oz),KIDS JUICE FLAVOR,KIDS - MINI PUPUSAS (3),0.0,0.00,1.0,False,NaN
1925,PHARR,9,8/5/23 9:19 AM,APPLE JUICE (12oz),KIDS JUICE FLAVOR,KIDS - MINI PUPUSAS (3),0.0,0.00,1.0,False,NaN
2522,PHARR,143,8/5/23 12:58 PM,APPLE JUICE (12oz),KIDS JUICE FLAVOR,KIDS - MINI PUPUSAS (3),0.0,0.00,1.0,False,NaN
5085,PHARR,25,8/11/23 9:47 AM,APPLE JUICE (12oz),KIDS JUICE FLAVOR,KIDS - MINI PUPUSAS (3),0.0,0.00,1.0,False,NaN
5551,PHARR,149,8/11/23 2:53 PM,No Juice,KIDS JUICE FLAVOR,KIDS - MINI PUPUSAS (3),0.0,-0.15,1.0,False,NaN
6297,PHARR,166,8/12/23 1:48 PM,No Juice,KIDS JUICE FLAVOR,KIDS - MINI PUPUSAS (3),0.0,-0.15,1.0,False,NaN
6380,PHARR,188,8/12/23 2:58 PM,APPLE JUICE (12oz),KIDS JUICE FLAVOR,KIDS - MINI PUPUSAS (3),0.0,0.00,2.0,False,NaN
8551,PHARR,50,8/17/23 11:13 AM,No Juice,KIDS JUICE FLAVOR,KIDS - MINI PUPUSAS (3),0.0,-0.15,1.0,False,NaN

In [276]:
df1[df1['Menu Group'] == 'DRINKS']['Menu Item'].unique()

array(['COFFEE', 'SWEET TEA', 'COKE 20oz', 'COKE ZERO 20oz',
       'APPLE JUICE (12oz)', 'MEX COCA LIGHT', 'SPRITE 20oz',
       'BOTTLE WATER', 'LIMON/PEPINO/APIO', 'JAMAICA', 'DR PEPPER 20oz',
       'MEX JOYA MANZANA', 'MEX JOYA PONCHE', 'MEX COKE', 'UNSWEET TEA',
       'REFILL AGUA', 'MILK (12oz)', '2nd MILK FOR COFFEE (4oz)',
       'MILK 8oz'], dtype=object)

In [277]:
df1['Menu Item'].unique()

array(['PL FRENCH TOAST', 'SIDES DESAYUNOS', 'PL HUEVOS RANCHEROS',
       'COFFEE', 'SWEET TEA', 'KIDS - BREAKFAST PLATE', 'PL CHILAQUILES',
       'PLATE 1 - 3 PUPUSAS', 'COKE 20oz', 'REKETES',
       'PLATE 9 - ATACATE ORIGINAL', 'COKE ZERO 20oz',
       'PL HUEVOS AL GUSTO', 'APPLE JUICE (12oz)', 'MINI REKETES',
       'TORTILLAS', 'MEX COCA LIGHT', 'PLATE 2 - 4 TACOS PLANCHA',
       'SPRITE 20oz', 'BOTTLE WATER', 'PLATE 5 - TORTA CON PAPAS',
       'PUPUSA RAJAS POBLANAS', 'PL HOUSE OMELLETE',
       'FREDDSTERS  SALSA MACHA', 'LIMON/PEPINO/APIO',
       'PLATE 4 - 4 GORDITAS', 'JAMAICA', 'DR PEPPER 20oz',
       'REKETES VEGGIE', 'GORDITA CHICHARRON SALSA VERDE',
       'MEX JOYA MANZANA', 'PAN DE ELOTE', 'GORDITA CHEESE', 'GALLITO',
       'MEX JOYA PONCHE', 'GORDITAS DE AZUCAR W/ICE CREAM', 'PUPUSA BEEF',
       'PLATE 3 - 3 TACOS LLORARAS',
       'CAZUELA DE CHICHARRON EN SALSA ROJA', 'MEX COKE', 'TACO PLANCHA',
       'PLATE 8 - FLAUTAS CON PAPAS', 'TACO LLORARAS', 'PUPUSA ORIGINAL',
       'PLATE 6 - ENCHILADAS', 'PUPUSA BEANS & CHEESE',
       'GORDITA CHICHARRON SALSA ROJA', 'GORDITA BEEF',
       'PUPUSA CHICHARRON', 'PLATE 7 - 2 OVNIS', 'PLATE 9 - ATACATE CUST',
       'TACO LLORARAS VEGGIE', 'TACO CHICHARRON EN SALSA VERDE',
       'TACO CHICHARRON EN SALSA ROJA', 'PL PANCAKES (3)',
       'PL HUEVOS A LA MEXICANA', 'UNSWEET TEA', 'CALDO TLALPENO',
       'REFILL AGUA', 'CHILE TOREADO', 'QUESADILLA MAIZ',
       'GORDITA ORIGINAL (PORK)', 'PUPUSA CHEESE/QUESO',
       'SALSA NARANJA (12oz)', 'CAZUELA DE CHICHARRON EN SALSA VERDE',
       'PL QUESADILLAS FRITAS', 'PL MOLLETES', 'OVNI',
       'DON DELI GALLETAS/EMPANADAS', 'ARROZ / RICE', 'TABLA FOR 4',
       '1/2 DOZEN TACOS PLANCHA', 'SALSA VERDE CHILAQUILES',
       'PL LIGHT OMELLETE', 'GORDITA BEANS & CHEESE', 'TESTER FREDDSTERS',
       'FRIJOLES / BEANS', 'BREAKFAST TABLA', 'KIDS - MINI PUPUSAS (3)',
       '1/2 ORDER FLAUTAS & PAPAS', 'PL MEAT LOVERS OMELLETE',
       'MILK (12oz)', 'ORDEN TACOS CHICHARRON EN SALSA (3)',
       'DOZEN PUPUSAS', 'CARNE EN SU JUGO', '1/2 DOZEN PUPUSAS.',
       'GRILLED PANELA CAZUELA', 'SIDE DE CEBOLLA CRUDA (4oz)',
       'QUESADILLA HARINA', 'REPOLLO CURTIDO', 'GORDITA BEANS', 'PAPAS',
       'PL HUEVOS DIVORCIADOS', '1/2 DOZEN TACOS LLORARAS',
       'SPECIAL RICE', '1/2 DOZEN PUPUSAS', 'PLATE 4 - 4 GORDITAS.',
       'KIDS - FLAUTAS & PAPAS (3)', 'PLATE 3 - 3 TACOS LLORARAS.',
       'PL HAM & CHEESE OMELLETE', 'SPECIAL PLATE',
       '2nd MILK FOR COFFEE (4oz)', 'SALSA ROJA CHILAQUILES',
       'MINI REKETES VEGGIE', 'KIDS - QUESADILLAS (2)', 'BOLILLO',
       'CARNE EN SU JUGO (SMALL/SIDE)', 'CAZUELA DE FRIJOLES CON VENENO',
       'QUESO FRESCO', 'DOZEN TACOS PLANCHA', 'MILK 8oz',
       'KIDS - TACOS PLANCHA (2)'], dtype=object)